@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --bg: #e7dfcf;
  --main: #2c2d2a;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: #2c2d2a;
  text-decoration: none;
}

body {
  width: 100%;
  background: var(--bg);
  font-size: 0.938rem;
  font-family: "Montserrat", sans-serif;
  color: var(--main);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 15px 20px;
}


/* Main Navigation */

.main-nav {
  position: relative;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(44, 45, 42, 0.25);
  padding-bottom: 12px;
  background-color: var(--bg);
}

.logo {
  font-size: 1.375rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logo:hover {
  cursor: default;
}

.nav__list {
  display: flex;

}

.nav__list a:hover {
  text-decoration: underline;
}

.nav__list li {
  margin-left: 30px;
}

.nav__vert {
  display: none;
}

@media screen and (max-width: 768px) {

  .main-nav {
    height: 45px;
  }

  .main-nav div {
    position: fixed;
    z-index: 100;
  }

  .nav__list {
    padding: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    transition: right 1s ease-in-out;
  }

  .nav__list a {
    color: var(--main);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
  }

  .nav__list li {
    margin: 5px 0px;
  }
}

@media screen and (max-width: 500px) {
    .nav__list a {
      font-size: 1.5rem;
    } 
}


/* Hero Section */

.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.hero-cta {
  border: 1px solid var(--main);
  max-width: 200px;
  padding: 12px 30px;
  text-align: center;
  display: block;
}

.hero-cta:hover {
  cursor: pointer;
  color: var(--bg);
  background-color: var(--main);
}

@media screen and (max-width: 768px) {
  
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.063rem;
  }
  
}

@media screen and (max-width: 515px) {
  
  .hero h1 {
    font-size: 1.7rem;
  }
  .hero p {
    font-size: 0.855rem;
  }
}


/* About Me */

.about__ct {
  display: flex;
}

.about__text {
  max-width: 670px;
}

.ab_h1 {
  font-size: 2.7rem;
}

.ab_p {
  font-size: 1rem;
  line-height: 1.7;
}

.ab_link {
  text-decoration: underline;
}

.ab_link:hover {
  padding: 1px;
  margin: 1px;
  border: 1px solid var(--main);
  text-decoration: none;
}

.socials {
  margin-top: 15px;
  font-size: 1.2rem;
}

.socials__h2 {
  font-size: 2.3rem;
}

.socials_link {
  font-size: 1.3rem;
  margin-right: 10px;
  color: var(--bg);
  background-color: var(--main);
  padding: 10px;
}

.socials_link:hover {
  color: var(--main);
  background-color: transparent;
  border: 1px solid var(--main);
}

.skills {
  margin-top: 15px;
}

.skills h2 {
  font-size: 2.3rem;
}

.skill {
  font-size: 2.5rem;
  margin-right: 10px;
}